name: Pull Image
on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      
    - name: checkout 
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      env:
        DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
        SWR_USER_NAME: ${{ secrets.SWR_USER_NAME }}
        SWR_USER_PASSWORD: ${{ secrets.SWR_USER_PASSWORD }}
      run: |
        echo "${SWR_USER_PASSWORD}" | docker login --username "${SWR_USER_NAME}" --password-stdin "${DOCKER_REGISTRY}"
    - name: Run pull_image.sh
      env:
        DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
      run: |
        chmod +x ./docker/pull_image.sh
        ./docker/pull_image.sh
