name: Pull Image
on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      
    - name: checkout 
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      run: |
        docker login -u ${{ secrets.SWR_USER_NAME }} -p ${{ secrets.SWR_USER_PASSWORD }} ${{ secrets.DOCKER_REGISTRY }}
    
    - name: Run pull_image.sh
      env:
        DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
      run: |
        chmod +x ./docker/pull_image.sh
        ./docker/pull_image.sh 
